# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Build and Distribution
build/
dist/
*.spec
icon.ico
icon.icns
icon.iconset/

# Local Binaries
bin/

# macOS
.DS_Store

# Logs
*.log

# Project specific
YouTube-Downloads/
